*{
    padding: 0;
    margin: 0;
    text-align: center;
}

h1{
    background-color: black;
    color: white;
    line-height: 5rem;
    height: 5rem;
}

.choices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
    
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%; 
    object-fit: cover;
}
.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

.score-board{
    display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}
#user,
#computer{
    font-size: 4rem;
}

.msg{
    margin-top: 5rem;
}
#m{
    display: inline;
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}